.amarna-uniquifier {
    font-family: "Amarna", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: pink;
}

.header-text {
    text-align: center;
    color: purple;
}

.header-container {
    margin-top: 5%;
    background-color: whitesmoke;
    padding: 1%;
    border-radius: 10px;
    width: 60%;
}

.flex-header {
    display: flex;
    justify-content: center;
}

.img-container {
    padding: 1%;
}

.nav-menu-container {
    background-color: whitesmoke;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    border-radius: 10px;
}

.nav-menu-item {
    margin-left: 1%;
    margin-right: 1%;
    text-decoration: none;
    color: violet;
}